@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: "Rubik", sans-serif;
    background-image: url(Background.jpg);
    background-size: cover;
}
h3{
    color: white;
}
img{
    border: 3px solid white;
}